.card {
    display: flex;
    justify-content: center;
    margin: 1rem auto;
    padding: 1rem;
    gap: 1.5rem;
    box-shadow: 0px 3px 8px -3px rgba(0, 0, 0, 0.65);
    border-radius: 5px;
}

.card-img {
    width: 300px;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
    gap: 10px;
}

.description {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 500px;
}

.card-location {
    display: flex;
    align-items: center;
    gap: 10px;
}

.location-logo {
    width: 17px;
    height: 19px;
}

.card-state {
    margin: 0;
    font-weight: normal;
    font-size: 15px;
}

a {
    color: rgb(158, 158, 158);
    margin: 0;

}

.card-place {
    font-weight: 700;
    font-size: 50px;
    margin: 0;
}

.card-date {
    font-size: 17px;
    font-weight: 700;
    margin-top: 10px;
}

.card-info {
    font-size: 15px;
    font-weight: 400;
    margin: 0;
}

@media (max-width: 768px){
    .card {
            flex-direction: column;
        }

    .card-img {
            height: 180px;
            width: 100%;
            object-fit: cover;
        }
}

.card:hover{
    position: relative;
    cursor: pointer;
    top: 5px;
    background-color: rgb(242, 242, 242);
}

a:hover{
    color: rgb(10, 43, 151);
}