.navbar {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0e9571;
    color: white;
    padding: 0.5rem 1rem;
    gap: 10px;
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
}

.nav-logo {
    width: 22px;
    height: 22px;
}

.nav-title {
    height: 27px;
    font-weight: 700;
    font-size: 1.4rem;
}